#itemWithStockTableView .table-cell {
    -fx-alignment: CENTER;
}
#stockTableView .table-cell {
    -fx-alignment: CENTER;
}

@font-face {
    font-family: 'WinInnwa';
    src: url('../fonts/WINNWAB.ttf');
}

.mm {
    -fx-font-size: 15pt;
    -fx-font-family: "WinInnwa";
}